* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: var(--color-primary);
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(to bottom, var(--color-primary) 50%, var(--color-gray-dark) 50%);

  @media (--navigation-md) {
    background: linear-gradient(to bottom, var(--color-white) 50%, var(--color-gray-dark) 50%);
  }
}

p:empty {
  display: none;
}

main {
  flex: 1 1 auto;
}
