@define-mixin btn {
  @mixin link-reset;

  text-align: center;
  width: auto;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25em;
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-m);
  font-family: var(--font-family-headings);
  transition: background-color 0.2s ease-out;
  font-family: var(--font-family-header);
  border: 2px solid transparent;
}

@define-mixin btn-small {
  padding: 0 var(--spacing-s);
}

@define-mixin btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

@define-mixin btn-primary-hover {
  background: var(--color-primary-dark);
}

@define-mixin btn-ghost {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

@define-mixin btn-ghost-hover {
  background: var(--color-primary);
  color: var(--color-white);
}
