@define-mixin color-negative {
  background: var(--color-3);
  color: var(--color-white);

  & a {
    box-shadow: 0 1px 0 0 currentColor;

    &:hover {
      box-shadow: 0 2px 0 0 currentColor;
    }
  }
}
