:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-darker: #333;
  --color-gray-dark: #424242;
  --color-gray: #999;
  --color-gray-light: #eee;
  --color-gray-lighter: #f9f9f9;
  --color-gray-lighterest: #f1f4f5;
  --color-text: #424242;
  --color-primary: #98012e;
  --color-primary-dark: #7f0126;
  --color-background: var(--color-gray-lighter);
  --color-background-alternative: #f6f1ec;
}
