:root {
  --font-size-base: 16px;
  --font-family-base: arial, helvetica, sans-serif;
  --font-family-header: 'Roboto Slab', tahoma, sans-serif;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
