.sr-only {
  @mixin sr-only;
}

*:focus {
  outline: 1px dotted var(--color-black);
}

.visuallyhidden {
  display: none;
}

@media screen and (inverted-colors: inverted) {
  img {
    filter: invert(100%);
  }
}
