* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  color: var(--color-white);
  background: var(--color-primary);
}

html {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: var(--color-background);
}

p:empty {
  display: none;
}
