@define-mixin form-field {
  width: 100%;
  height: auto;
  min-height: 2.25em;
  padding: 0.5rem 0.75rem;
  font-family: inherit;
  font-size: var(--font-size-m);
  appearance: none;
  background: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 0.25em;
  transition: border-color 0.15s ease-out, background-color 0.1s ease-out;

  &:disabled {
    color: var(--color-gray-lighter);
    background-color: var(--color-gray-lighterest);
  }

  &.has-error {
    border-color: var(--color-danger);
  }

  &:focus {
    outline: none;
    border-color: var(--color-black);
  }

  &:read-only {
    pointer-events: none;
    cursor: default;
  }

  &::placeholder {
    color: var(--color-gray-darker);
  }
}
