@define-mixin link {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: var(--color-primary);
}

@define-mixin link-hover {
  text-decoration-thickness: 3px;
}

@define-mixin link-sm {
  text-decoration-thickness: 1px;
 
  &:hover,
  &:focus {
    text-decoration-thickness: 2px;
  }
}
